{% extends 'instagram/base.html'  %}
{%block body%}


<div class="card ">
    <form method="post">
        {% csrf_token %}
        <div class="card">

            <div class="card-content" align="center">
                <h1>INSTAGRAM</h1>
                <br />
                <input type="text" name="username" placeholder="username">
                <br />
                <br />
                <input type="password" name="password" placeholder="password">
                <br />

                <button>LOGIN</button>
                <br />
                Not registered?
                <br />
                <a class="button is-info" href="{% url 'register' %}">Sign Up</a>

            </div>
        </div>
        
    </form>
</div>

{% endblock %}